$brandBackgroundColor: #244F75;
$cvBackgroundColor: #8C4B7E;
//$contactBackgroundColor: #F8BB44;
$projectsBackgroundColor: #60BFBF;
$redColor: #F24B4B;
$contactBackgroundColor: $redColor;

$primary-font-family: Lato;
$secondary-font-family: "Open Sans", sans-serif;

$primary-font-color: white;

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1}
}

@mixin iconsList(){
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img{
        height: 30px;
    }
}

@mixin inner-strip-style($rotation, $width){
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: $width;
        height: 100%;
        background-color: white;
        opacity: 0.1;
        transform-origin: center center;
        transform: skew($rotation) scaleY(1) translate(-50%, 0);
        z-index: 0;
    }

    & > * {
        z-index: 1;
    }
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
} 

