@import '_resources.scss';

#contact-section{

    .contact-form{
        margin-bottom: 15px;
        @media(min-width: 901px){
            margin-bottom: 0;
            position: relative;
            flex-grow: 1;
            flex-basis: 0;
            &::after {
                position: absolute;
                top: -5px;
                height: 300px;
                right: -1px;
                content: "";
                border: 2px solid white;
            }
        }
    }

    .contact-data{
        flex-grow: 1;
        flex-basis: 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
            li span {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 15px;
            }
        }
    }

    .form-group {
        margin: 0 0 15px 0;

        label {
            font-size: .8em;

            &.visible{
                display: block;
            }
            &.hidden {
                display:none;
            }
        }
    }

    input[type="text"]{
        display: block;
        width: 100%;
        padding: 10px 10px 20px 10px;
        color: $contactBackgroundColor;
        font-weight: 500;
        font-size: .6em;
        box-sizing: border-box;
		@media(min-width: 901px){
            width: 50%;
		}
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        color: $contactBackgroundColor;
        font-weight: 500;
        font-size: .6em;
        padding: 10px 10px 20px 10px;
        border: none;
        @media(min-width: 901px){
            width: 75%;
        }
    }

    input[type="submit"]{
        display: block;
        margin-top: 10px;
        padding: 10px 30px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        font-size: .8em;
        font-weight: 500;

        &:hover {
            background-color: white;
            color: $contactBackgroundColor;
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $contactBackgroundColor;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $contactBackgroundColor;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $contactBackgroundColor;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    $contactBackgroundColor;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    $contactBackgroundColor;
    }
}
