$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;

    @media(min-width: 426px){
        flex-direction: row;
    }
}

.header{
    background-color: $color1;
    flex-grow: 2;
    transition: flex-grow 1s;

	p { transition: font-size 1s; }

    &.collapsed{
		flex-grow: 0;

		p { font-size: 0;}
    }
}

.sections{
    flex-grow: 1;
    transition: flex-grow 1s;
    &.expanded {
        flex-grow: 10;
    }

    @media(min-width: 426px){
        flex-grow: 1;
    }

    display: flex;
    flex-direction: column;

    .section{
        flex-grow: 1;
        position: relative;
        transition: flex-grow 1s;

        &.cv{
            background-color: $color2;
        }
        &.projects{
            background-color: $color3;
        }
        &.contact{
            background-color: $color4;
        }

        &:not(.expanded){
            .expanded-text, .collapse-btn{
                display: none;
            }
        }

        &.expanded{
            .collapsed-text{
                display:none;
            }
        }
    }


    .section.expanded{
        flex-grow: 10;
    }

}